<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRUD Operation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse ml-5 " id="navbarSupportedContent" > 
      <form class="d-flex position-relative" >
          <input class="form-control " type="search" name="Search" aria-label="Search" [(ngModel)]="searchkey"(keyup)="search($event)" >
          <button class="btn position-absolute" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>     
      </form>   
      <ul class="navbar-nav  mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active astyle" aria-current="page" (click)="onadd()" >Add Peron</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active astyle" aria-current="page"(click)="onroute()">Person List</a>
        </li>
       
        
      </ul>  
    </div>
  </div>
</nav>


<router-outlet></router-outlet>